# Compiled Python files
__pycache__/

# Logs
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local configuration files
*.idea/
.vscode/

# User-specific files
venv/
env/
*.pyc
*.bak
*.swp

# WebDriver cache
msedgedriver.log

# Scraped data
scraped_data.csv
